@import '../../scss/constants.scss';
@import '../../scss/general.scss';

.tourPage {
    height: calc(100% - 40px);
    padding: 20px;
    position: relative;
}

.tourTable {

}

.tourScore {
    height: 60px;
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
    display: flex;
}

.teamScore {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

    label {
        color: $button-color;
        font-size: 24px;
        margin-right: 10px;
    }

    input{
        width: 200px;
        height: 40px;
        background: transparent;
        border: none;
        border-bottom: 1px solid $button-color;
        font-size: 30px;
        color: $button-color;
        padding: 5px;
    
        &:active, &:focus{
            outline-color: $button-color;
        }
    }
}