@import '../../scss/constants.scss';
@import '../../scss/general.scss';

.checkPage{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.team {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    input {
        height: 40px;
        font-size: 32px;
        border: none;
        outline: 1px $button-color solid;
        
        &:active, &:focus{
            box-shadow: 0 0 10px 0 $button-color inset, 0 0 10px 4px $button-color;
        }


        &[type="text"]{
            width: 300px;
        }

        &[type="checkbox"]{
            width: 40px;

            &:checked {
                box-shadow: 0 0 10px 0 $button-color inset, 0 0 10px 4px $button-color;
            }
        }
    }

    label {
        color: $button-color;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 20px;
    }
}